################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/VoiceChatGST/VoiceChatGST/obj
/VoiceChatGST/VoiceChatGST.Droid/obj
/VoiceChatGST/VoiceChatGST.iOS/obj
/VoiceChatGST/VoiceChatGST.WinUI/obj
/VoiceChatGST/.vs/VoiceChatGST
/VoiceChatGST/VoiceChatGST/bin/Debug/net9.0
/VoiceChatGST/VoiceChatGST/VoiceChatGST/bin/Debug/net9.0
/VoiceChatGST/VoiceChatGST/VoiceChatGST/obj
/VoiceChatGST/VoiceChatGST/VoiceChatGST.Droid/obj
/VoiceChatGST/VoiceChatGST/VoiceChatGST.iOS/obj
/VoiceChatGST/VoiceChatGST/VoiceChatGST.Mac/bin/Debug/net9.0-maccatalyst/maccatalyst-x64
/VoiceChatGST/VoiceChatGST/VoiceChatGST.Mac/obj
/VoiceChatGST/VoiceChatGST/VoiceChatGST.WinUI/bin/x64/Debug/net9.0-windows10.0.19041.0/win10-x64
/VoiceChatGST/VoiceChatGST/VoiceChatGST.WinUI/obj
/VoiceChatGST/VoiceChatGST.Mac/bin/Debug/net9.0-maccatalyst/maccatalyst-x64
/VoiceChatGST/VoiceChatGST.Mac/obj
/VoiceChatGST/VoiceChatGST.WinUI/bin/x64/Debug/net9.0-windows10.0.19041.0/win10-x64
/VoiceChatGST_Final
